@model List<Login.Models.AttendenceEmployeeViewModel>

<div class="container mt-4">
    <div class="row mb-3">
        <div class="col-10 ">
            <h2 class="text-start text-primary">Attendance History</h2>
        </div >
        <div class="col-2 text-end">
            <a class="btn btn-secondary text-end" asp-controller="Admin" asp-action="Dashboard"><i class="bi bi-arrow-left"></i> Back</a>
            </div>
        <hr />
    </div>



    <div class="table-responsive">
        <table class="table table-striped" id="Table" border="1">
            <thead class="table-dark">
                <tr>
                    <th>Employee Id</th>
                    <th>Employee Name</th>
                    <th>Current Day</th>
                    <th>Date</th>
                    <th>Check-In Time</th>
                    <th>Check-Out Time</th>
                    <th>Total Working Hours</th>
                </tr>
            </thead>
            <tbody>
                 
                    @foreach (var item in Model)
                    {
                        <tr>
                        <td>@item.EmployeeId</td>
                        <td>@item.EmployeeName</td>
                        <td>@item.Day</td>  
                        <td>@item.Date.ToString("dd-MM-yyyy")</td>
                        <td>@(item.CheckInTime.HasValue ? item.CheckInTime.Value.ToString("HH:mm:ss") : "Not Checked In")</td>
                        <td>@(item.CheckOutTime.HasValue ? item.CheckOutTime.Value.ToString("HH:mm:ss") : "Not Checked Out")</td>
                        <td>@item.TotalWorkingHours</td>
                        </tr>
                    }
          
            </tbody>
        </table>

    </div>
</div>

@section Scripts
{
    <script>
        $('#Table').DataTable();
    </script>
}